/*color pallete for the website*/
:root{
    --background: #161616;
    --secondery: #383838;
    --active: #616161;
    --accent-color:#ffffff;
}
/*this makes the base color of the page navi blue*/
body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--accent-color);
    font-family: Arial, Helvetica, sans-serif;
}
/* this maks the header fill the page with and to make the items align too the right in a line with some space betwin them*/
header{
    background-color: var(--secondery); 
    padding: 0.4%;
    display: flex;
    flex-direction: row;
    gap: 0.2%;
    border-radius: 8px;
}
/* makes the pfp loade a defult picture and makes it pixelated so that you can see the art I made :)*/
#pfp{
    image-rendering: pixelated; 
    border-radius: 100%;
    height: 84px;
    width: 84px;
    border: 3px solid var(--background);
}
/*makes the items in the div line up downwords*/
#ch-things{
    display: flex;
    flex-direction: column;
    gap: 3%;
}
/*makes the small inputs line up in a row with some space betwin them*/
#small{ 
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
}
/*styles the small inputs*/
#gender{width: auto;}
#race{width: fit-content;}
#class{width: fit-content;}
#gender, #race, #class{
    color: var(--accent-color); background-color: var(--background); border: none; border-radius: 2px;
}
#chn{
    width: 99%;
    background-color: var(--background);
    color: var(--accent-color);
    border: none;
}
#level,
#level-change{
    font-size: small;
    display: flex;
    flex-direction: row;
    width: 35px;
    height: 20px;
}
#level-change{
    border: 2px solid var(--accent-color);
}
#level-value{
    width: 15px;
    height: 20px;
    font-size: small;
    font-weight: bold;
    border: none;
}
#level, #level-value, #level-change{
    color: var(--accent-color);
    background-color: var(--background);
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 4px;
    line-height:20px;
}
/*makes the edit button look nice*/
#edit-btn{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    font-size: xx-large;
}
#edit-btn:hover{
    background-color: var(--active);
}
#edit-btn img{
    image-rendering: pixelated;
    transform: translate(-6px, 1px);
}
/*makes the text look nice*/
.text{
    font-size: xx-large;
    border-radius: 4px;
    border: 2px var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
/*makes the buttons look nice*/
button{
    color: var(--accent-color);
    background-color: var(--secondery);
}
button:hover{
    background-color: #4d4c4c;
}
button:active{
    background-color: var(--active);
}
/*styles the footer*/
footer p{
    color: var(--accent-color);
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*makes the main content div a flex box with row direction so that the left and right side divs are next to each other*/
#main-content{
    display: flex;
    flex-direction: row;
    gap: 0.5%;
    width: 100%;
}
/*makes the left side div have the secondery color as its background*/
#left-side{
    background-color: var(--secondery);
    padding: 0.4%;
    border-radius: 8px;
    width: 40%;
    height: fit-content;
}
#right-side{
    background-color: var(--secondery);
    padding: 0.4%;
    border-radius: 8px;
    width: 60%;
    height: fit-content;
}
.title{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 10px;
}
#stats{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 12% 35% 35%;
    margin-bottom: 7%;

}
.stat{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    height: 100px;
    width: 90px;
    background: var(--background);
    padding: 6px 2px;
    border-radius: 6px;
}
#str, #dex, #ws, #bs, #tn, #int, #per, #wp, #fel{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 4px;
    background-color: var(--active);
    font-size: 45px;
    color: var(--accent-color);
    text-align: center;
    align-self: center;
    z-index: 1;   
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent-color);
    align-self: center;
    text-align: center;
    z-index: 1;
}
.coin{
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex: 1;
    padding: 5px;
    border-radius: 4px;
    height: 30px;
    white-space: onwrap;
}
#credits, #doch, #renown{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent-color);
    background-color: var(--background);
    border: 2px solid var(--active);
    border-radius: 4px;
}
#credits{
    width: 90px;
}
#doch{
    width: 80px;
    margin-left: 22px;
}
#renown{
    width: 60px;
    margin-left: 20px;
}
.coin{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 6%;
}
#check-boxs{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 5px;
}
.check-boxs-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: larger;
    width: 45%;
    height: fit-content;
    background: var(--background);
    border-radius: 4px;
    padding: 5px;
    border: 4px solid var(--active);
}
.check-boxs{
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 1px;
}
.check-boxs input[type="checkbox"]{
    width: 22px;
    height: 22px;
    appearance: none;
    border: 2px solid var(--active);
    border-radius: 4px;
    background-color: var(--background);
}
.check-boxs input[type="checkbox"]:checked{
    background-color: var(--accent-color);
}
.check-boxs-container input[type="text"]{
    width: 22px;
    height: 25px;
    font-size: large;
    color: var(--accent-color);
    background-color: var(--background);
    border: 2px solid var(--active);
    border-radius: 4px;
    text-align: center;
}
.tabgrub{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-bottom: 10px;
}
.tabgrub button{
    flex: 1;
    height: 40px;
    font-size: large;
}
#Actions,
#Traits,
#Inventory {
    display: none;
}
#Actions.active,
#Traits.active,
#Inventory.active {
    display: block;
}
#actionsTab,
#traitsTab,
#inventoryTab {
    background-color: var(--secondery);
    border-width: 10px;
    border-image: url(un-pressed.png) 30 round;
}
#actionsTab.active,
#traitsTab.active,
#inventoryTab.active {
    background-color: #333333;
    border-width: 10px;
    border-image: url(pressed.png) 30 round;
}
#actionsTab:hover,
#traitsTab:hover,
#inventoryTab:hover {
    background: #4d4c4c;
}
.textarea-containers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.text-box {
    width: 15%;
    max-width: 90%;
    background-color: var(--background);
    color: var(--accent-color);
    border: 2px solid var(--active);
    border-radius: 4px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#overly{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center; /* horizontal */
    align-items: flex-start;     /* vertical */
    gap: 10px;
    z-index: 2;
}
.edit-character-box{
    background-color: var(--secondery);
    padding: 20px;
    border-radius: 8px;
    margin-top: 1%;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}
.edit-character-box h2{
    color: var(--accent-color);
    text-align: center;
}
.edit-character-box label{
    font-size: large;
    font-weight: bold;
}
.edit-character-box input[type="text"]{
    background-color: var(--background);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: large;
    margin-left: 10px;
    border-radius: 4px;
}
.edit-character-box select{
    background-color: var(--background);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: large;
    margin-left: 10px;
    border-radius: 4px;
}
.edit-character-box #level{
    background-color: var(--background);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: large;
    margin-left: 10px;
    border-radius: 4px;
}

.textarea-containers input[type="text"]{
    width: fit-content;
    background-color: var(--secondery);
    color: var(--accent-color);
    border-radius: 4px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.bio{
    width: fit-content;
    background-color: var(--secondery);
    color: var(--accent-color);
    border-radius: 4px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.mech{
    width: fit-content;
    background-color: var(--secondery);
    color: var(--accent-color);
    border-radius: 4px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
#top{

    display: flex;
    flex-direction: column;
}
#top label{
    display: flex;
    flex-direction: row;
}
#mid{
    display: grid;
    grid-template-columns: auto auto auto;
}
#mid h3{
    grid-column: 1 / 4;
    justify-content: center;
    align-items: center;
}
#bottom{
    display: flex;
    flex-direction: column;
}
.stat-edit{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    height: 100px;
    width: 90px;
    background: var(--background);
    padding: 10px;
    border-radius: 6px;
    border: 4px solid var(--active);
}
#bottom input[type="number"],
#points-remaining,
#Exstra-points {
    background-color: var(--background);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: large;
    border-radius: 4px;
    width: 50px;
    margin-left: 10px;
}
#points-remaining label,
#Exstra-points label {
    display:inline-flex;
    align-items:center; 
    gap:5px
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    border-radius: 50% ;
}
#add-check-box{
    width: 40%;
}
.check-box-exstras{
    background-color: var(--secondery);
    border: 2px solid var(--active);
    color: var(--accent-color);
    font-size: large;
    border-radius: 4px;
    width: 1fr;
}
.inputval{
    background-color: var(--background);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: large;
    border-radius: 4px;
    width: 1fr;
}